.newProduct {
  padding: 20px;
}
.formContainer {
  background-color: var(--primary-bg);
  min-height: 100vh;
  transition: 0.4s all ease-in-out;
}

.formContainer section {
  width: 90%;
  margin: 0 auto;
}

.formContainer h3,
.formContainer label {
  color: var(--primary-text-color);
  font-weight: 300;
}
.formContainer label {
  font-size: 12px;
  width: 100%;
  margin-bottom: 5px;
}

/* Formulario */
fieldset {
  margin: 15px auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  display: flex;
  flex-flow: row wrap;
}

.formContainer form input,
form textarea {
  color: var(--primary-text-color);
  background-color: var(--primary-bg);
  border: 1px #919191 solid;
  padding: 8px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.formContainer fieldset select {
  color: var(--primary-text-color);
  background-color: var(--primary-bg);
  border: 1px #919191 solid;
  border: 0;
  border-radius: 20px;
  width: 100%;
  padding: 8px 20px;
}

.formContainer .relative {
  position: relative;
}

.formContainer input[name='stock'] {
  text-align: center;
}
.formContainer fieldset svg {
  color: var(--primary-text-color);
  position: absolute;
}
.formContainer fieldset svg[data-icon='minus'] {
  right: 10%;
  top: 55%;
}
.formContainer fieldset svg[data-icon='plus'] {
  top: 55%;
  left: 10%;
}


.error{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
}
.error input, .error textarea, .error select{
  border: #F20789 3px solid;
}
fieldset small, fieldset i[class = "fas fa-exclamation-circle"]{display: none;}

.error i[class = "fas fa-exclamation-circle"]{
  display: block;
  color: #F20789;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 15px;
}
.error small, form small{
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 8px;
  margin-top: 5px;
  font-style: italic;
  display: block;
  color: #F20789;
  font-size: .9rem;
}