.formContainer{
    background-color: #212121;
    min-height: 100vh;
    transition: .4s all ease-in-out;
}

.formContainer section{
    width: 90%;
    margin: 0 auto;
}

.formContainer h3, .formContainer label{
    color: #fff;
    font-weight: 300;
}
.formContainer label{
    font-size: 12px;
    width: 100%;
    margin-bottom: 5px;
}
