
.categoryContainer svg {
    color: #fff;
    margin-right: 10px;
    font-size: 30px;
}

.categoryContainer div p {
    color: #fff;
}

.categoryContainer div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px auto;
}

.categoryContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #2b2b2b;
    box-shadow: 5px 5px 10px #1a1a1a ;
    margin: 10px auto;
    transition: all .35s ease-in-out;
}
.categoryContainer:hover{
    transform: scale(1.05);
}
.categoryContainer button {
    border-radius: 15px;
    width: 100%;
    color: #fff;
    padding: 8px 20px;
    background-color: #494e50;
    border: 0;
    margin: 5px auto;
    transition: all .35s ease-in-out;
}
.categoryContainer button:hover {
    background-color: #0cac90;
}

@media (min-width: 758px) {
    .categoryContainer div {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 0;
    }
    .categoryContainer button {
        display: block;
        width: auto;
        margin-right: 10px;
    }
    .categoryContainer {
        justify-content: space-between;
    }
}