.homeContainer {
  background-color: var(--primary-bg);
  height: 100vh;
  transition: 0.4s all ease-in-out;
}
.homeContainer section {
  padding: 20px;
  margin: 0 auto;
}

.homeContainer section h1 {
  color: var(--primary-text-color);
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
}
