.mainSidebar {
    position: fixed;
    left: -296px;
    width: 296px;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    background-color: pink;
}

.mainSidebar.open {
    left: 0;
}

@media(min-width: 1025px) {
    .mainSidebar {
        position: relative;
        left: 0;

    }
}